<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>Creative-Technology: Diving into the World of Innovation and Entertainment</title>
    <meta name="description"
        content="Stay updated with the latest trends and news in Android, Windows, iOS, Mac, Gadgets, and Gaming. Creative-Technology brings you expert insights and reviews.">
    <meta name="keywords"
        content="Technology, Android, Windows, iOS, Mac, Gadgets, Gaming, Tech News, Reviews, Creative-Technology">
    <meta name="author" content="Creative-Technology Team">

    <!-- Viewport Meta Tag for Responsive Design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph Meta Tags for Social Media Integration -->
    <meta property="og:title" content="Creative-Technology: Diving into the World of Innovation and Entertainment">
    <meta property="og:description"
        content="Stay updated with the latest trends and news in Android, Windows, iOS, Mac, Gadgets, and Gaming. Creative-Technology brings you expert insights and reviews.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.creative-technology.tech">


    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Creative-Technology: Diving into the World of Innovation and Entertainment">
    <meta name="twitter:description"
        content="Stay updated with the latest trends and news in Android, Windows, iOS, Mac, Gadgets, and Gaming. Creative-Technology brings you expert insights and reviews.">

    <!-- Favicon and Touch Icons -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.creative-technology.tech">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/utility.css">
    <link rel="stylesheet" href="/stylesheets/page.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXXX-X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-XXXXXXXXX-X');
    </script>

    <!-- Structured Data for Rich Snippets -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.creative-technology.tech",
      "name": "Creative-Technology",
    }
  </script>


</head>

<body>

    <%- include('./header.ejs') %>

        <main>

            <h2 class="text-center m-tb heading-color">Latest Article</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% latestposts.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <div class="footer-content-column">
                                <div class="justify-center flex all_article_link">
                                    <a class="footer-call-to-action-button button" href="/page/page" target="_self"
                                        style="margin: 0;">All
                                        Articles</a>
                                </div>
                            </div>
                </div>

            </section>
            <h2 class="text-center m-tb heading-color">Recommended Article</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% recommmendedpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </section>
            <%- include('Template-Engine/follw') %>
            <h2 class="text-center m-tb heading-color">Android</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% androidpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </section>
            <h2 class="text-center m-tb heading-color">Window</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% windowpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </section>
            <h2 class="text-center m-tb heading-color">IOS</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% iospost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>


                </div>
            </section>
            <h2 class="text-center m-tb heading-color">MAC</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% macpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>


                </div>
            </section>
            <h2 class="text-center m-tb heading-color">Gadgets</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% Gadgetspost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>


                </div>
            </section>
            <h2 class="text-center m-tb heading-color">Gaming</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% Gamingpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>


                </div>
            </section>

        </main>

        <div class="pg-footer">
            <%- include('./footer.ejs') %>
        </div>


</body>
<script src="/javascripts/Index.js"></script>

</html>
