<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>Creative-Technology: Diving into the World of Innovation and Entertainment</title>
    <meta name="description"
        content="Stay updated with the latest trends and news in Android, Windows, iOS, Mac, Gadgets, and Gaming. Creative-Technology brings you expert insights and reviews.">
    <meta name="keywords"
        content="Technology, Android, Windows, iOS, Mac, Gadgets, Gaming, Tech News, Reviews, Creative-Technology">
    <meta name="author" content="Creative-Technology Team">

    <!-- Viewport Meta Tag for Responsive Design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph Meta Tags for Social Media Integration -->
    <meta property="og:title" content="Creative-Technology: Diving into the World of Innovation and Entertainment">
    <meta property="og:description"
        content="Stay updated with the latest trends and news in Android, Windows, iOS, Mac, Gadgets, and Gaming. Creative-Technology brings you expert insights and reviews.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.creative-technology.tech">


    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Creative-Technology: Diving into the World of Innovation and Entertainment">
    <meta name="twitter:description"
        content="Stay updated with the latest trends and news in Android, Windows, iOS, Mac, Gadgets, and Gaming. Creative-Technology brings you expert insights and reviews.">

    <!-- Favicon and Touch Icons -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <!-- Canonical Link -->
    <link rel="canonical" href="https://www.creative-technology.tech">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/utility.css">
    <link rel="stylesheet" href="/stylesheets/page.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXXX-X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-XXXXXXXXX-X');
    </script>

    <!-- Structured Data for Rich Snippets -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.creative-technology.tech",
      "name": "Creative-Technology",
    }
  </script>


</head>

<body>

    <%- include('./header.ejs') %>

        <main>

            <h2 class="text-center m-tb heading-color">Latest Article</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% latestposts.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <div class="footer-content-column">
                                <div class="justify-center flex">
                                    <a class="footer-call-to-action-button button" href="/page" target="_self"
                                        style="margin: 0;">All
                                        Articles</a>
                                </div>
                            </div>
                </div>

            </section>
            <h2 class="text-center m-tb heading-color">Recommended Article</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% recommmendedpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </section>
            <div class="follow_subscribe_section">
                <div class="follow_subscribe">
                    <div class="follow">
                        <p>Follow us on</p>
                        <div class="twitter follow_logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                width="24" height="24">
                                <path fill="#1DA1F2"
                                    d="M22.46 6c-.77.35-1.5.58-2.28.68a4 4 0 001.69-2.18 8 8 0 01-2.53.97 4 4 0 00-6.81 3.64A11.3 11.3 0 013 5.56a4 4 0 001.24 5.31A4 4 0 012.8 10v.05a4 4 0 003.23 3.92 4 4 0 01-1.8.07 4 4 0 003.74 2.78A8.2 8.2 0 012 19.54a11.4 11.4 0 006.29 1.85c7.55 0 11.68-6.25 11.68-11.67 0-.18 0-.35-.02-.53A8.3 8.3 0 0024 4.57a8.2 8.2 0 01-2.36.65 4 4 0 001.76-2.22z" />
                            </svg>
                            <a href="" class="follow_link">Twitter</a>
                        </div>
                        <div class="instagram follow_logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                width="24" height="24">
                                <linearGradient id="a" x1="12" x2="12" y1="2" y2="22.54" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#f58529" />
                                    <stop offset=".507" stop-color="#dd2a7b" />
                                    <stop offset=".99" stop-color="#8134af" />
                                </linearGradient>
                                <path fill="url(#a)"
                                    d="M7 2C4.2 2 2 4.2 2 7v10c0 2.8 2.2 5 5 5h10c2.8 0 5-2.2 5-5V7c0-2.8-2.2-5-5-5H7zm10 1c2.2 0 4 1.8 4 4v10c0 2.2-1.8 4-4 4H7c-2.2 0-4-1.8-4-4V7c0-2.2 1.8-4 4-4h10z" />
                                <circle cx="12" cy="12" r="4.5" fill="none" stroke="url(#a)" stroke-width="1.5" />
                                <circle cx="17.5" cy="6.5" r="1.5" fill="none" stroke="url(#a)" stroke-width="1.5" />
                            </svg>

                            <a href="" class="follow_link">Instaram</a>
                        </div>
                        <div class="facebook follow_logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                width="24" height="24">
                                <rect width="24" height="24" fill="#1877F2" rx="4" />
                                <path fill="#FFFFFF"
                                    d="M15.12 8.632h-2.066V7.256c0-.497.329-.611.561-.611h1.474V4.26L13.26 4.25c-2.576 0-3.165 1.888-3.165 3.11v1.272H8v2.44h2.095v7.06h2.576v-7.06h1.785l.279-2.44z" />
                            </svg>
                            <a href="" class="follow_link">Facebook</a>
                        </div>
                    </div>
                    <div class="subscribe">
                        <p style="text-align: center;">If you want to get notifications about our latest and upcoming
                            articles, follow us below to Explore</p>
                        <div class="email">
                            <h3 class="m-tb heading-color">the Latest Tech Trends</h3>
                            <h3 class="m-tb heading-color">In-Depth Tutorials and Guides</h3>
                            <h3 class="m-tb heading-color">Get Answers to Your Tech Questions</h3>
                            <h3 class="m-tb heading-color">Stay Updated with Industry News </h3>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="text-center m-tb heading-color">Android</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% androidpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </section>
            <h2 class="text-center m-tb heading-color">Window</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% windowpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </section>
            <h2 class="text-center m-tb heading-color">IOS</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% iospost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>


                </div>
            </section>
            <h2 class="text-center m-tb heading-color">MAC</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% macpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>


                </div>
            </section>
            <h2 class="text-center m-tb heading-color">Gadgets</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% Gadgetspost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>


                </div>
            </section>
            <h2 class="text-center m-tb heading-color">Gaming</h2>
            <section class="m-b p-tb">
                <div class="pair-set flex flex-wrap space-evenly">
                    <% Gamingpost.reverse().forEach(element=> { %>
                        <div class="flex space-evenly space">
                            <div class="3pair-set">
                                <div class="card">
                                    <img src="/images/upload/<%= element.image %>"
                                        class="card-img-top p-tb flex justify-center" alt="...">

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h2>
                                                <%=element.postheading%>
                                            </h2>
                                        </div>
                                        <p class="card-text p-tb  link-bottom">
                                            <%= element.postname %>
                                        </p>
                                        <div class="flex justify-center">
                                            <a href="/<%= element.postheading %>" class="link">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>


                </div>
            </section>

        </main>

        <div class="pg-footer">
            <%- include('./footer.ejs') %>
        </div>


</body>
<script src="/javascripts/Index.js"></script>

</html>