<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
        <%= metadata.title %>: Creative-Technology
</title>
<meta name="description" content="<%= metadata.description %>">
<meta name="keywords" content="<%= metadata.keywords %>">
<meta name="author" content="<%= metadata.author %>">
<meta property="og:title" content="<%= metadata.title %>">
<meta property="og:description" content="<%= metadata.description %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= metadata.url %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= metadata.title %>">
<meta name="twitter:description" content="<%= metadata.description %>">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<link rel="canonical" href="<%= metadata.url %>">

<link rel="stylesheet" href="/stylesheets/blog-post.css">
<link rel="stylesheet" href="/stylesheets/blog-post-utlity.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/utility.css">
<link rel="stylesheet" href="/stylesheets/page.css">
<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="/stylesheets/responsive.css">
<link rel="stylesheet" href="/stylesheets/chnages.css">
<link rel="stylesheet" href="/stylesheets/blogpost-responsive.css">
<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXXX-X"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'UA-XXXXXXXXX-X');</script>

<!-- Structured Data for Rich Snippets -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "<%= metadata.url %>"
  },
  "headline": "<%= metadata.title %>",
  "description": "<%= metadata.description %>",
  "author": {
    "@type": "Organization",
    "name": "<%= metadata.author %>"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Creative Technology",
    "logo": {
      "@type": "ImageObject",
      "url": "https://www.creative-technology.tech/Logo.jpg"
    }
  }
}
</script>
